.category {
  position: relative;
  bottom: -15px;
  width: 60%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;

  display: grid;

  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
  justify-content: space-evenly;
}

.Icon {
  width: max-content;
  position: relative;
}

.icon {
  width: 120px;
  height: 140px;
  padding-top: 30px;
  padding-right: 60px;
  position: relative;
}

.icon_name {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  padding-right: 50px;
  text-align: center;
  position: relative;
  top: -10px;
}
